.homepage {
    max-width: 1300px;
    margin: 1 rem auto;
}

.homepage_title {
    font-size: 1rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 20px;
}

.homepage_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1200px) {
    .homepage_products {
        grid-template: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .homepage_products {
        grid-template: repeat(1, 1fr);
    }
}