.product {
    width: 300px;
    height: 300px;
    padding: 1rem;
    background: #ffff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.product > img {
    height: 170px;
    border: 1px ;
    border-radius: 10px;
}

.product_info > p {
    margin-bottom: 8px;
}

.product_info {
    font-size: 10px;
    overflow: auto;
    text-align: justify;
}

.info_price {
    font-weight: bold;
    text-align: center;
    color: rgb(124, 120, 120);
}

.info_name {
    font-size: 5px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    color: #3C403D;
    font-size: 12px;
    font-family: "Playfair Display", Helvitica, "san serif";
}

.info_button {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: #DADED4;
    padding: 8px 16px;
    border: 1px solid none;
    border-radius: 1.5px;
    color: #39603D;
}

.info_button:hover {
    background: pink;
}